.row {
  box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.6%;
  row-gap: 1em;
}
.row:first-of-type {
  margin-top: 0;
}
.row.overflow-collapse {
  row-gap: 0;
}
.row .s1 {
  grid-column-end: span 1;
}
.row .offset-s1 {
  grid-column: span 1;
}
.row .start-s1 {
  grid-column-start: 1;
}
.row .s2 {
  grid-column-end: span 2;
}
.row .offset-s2 {
  grid-column: span 2;
}
.row .start-s2 {
  grid-column-start: 2;
}
.row .s3 {
  grid-column-end: span 3;
}
.row .offset-s3 {
  grid-column: span 3;
}
.row .start-s3 {
  grid-column-start: 3;
}
.row .s4 {
  grid-column-end: span 4;
}
.row .offset-s4 {
  grid-column: span 4;
}
.row .start-s4 {
  grid-column-start: 4;
}
.row .s5 {
  grid-column-end: span 5;
}
.row .offset-s5 {
  grid-column: span 5;
}
.row .start-s5 {
  grid-column-start: 5;
}
.row .s6 {
  grid-column-end: span 6;
}
.row .offset-s6 {
  grid-column: span 6;
}
.row .start-s6 {
  grid-column-start: 6;
}
.row .s7 {
  grid-column-end: span 7;
}
.row .offset-s7 {
  grid-column: span 7;
}
.row .start-s7 {
  grid-column-start: 7;
}
.row .s8 {
  grid-column-end: span 8;
}
.row .offset-s8 {
  grid-column: span 8;
}
.row .start-s8 {
  grid-column-start: 8;
}
.row .s9 {
  grid-column-end: span 9;
}
.row .offset-s9 {
  grid-column: span 9;
}
.row .start-s9 {
  grid-column-start: 9;
}
.row .s10 {
  grid-column-end: span 10;
}
.row .offset-s10 {
  grid-column: span 10;
}
.row .start-s10 {
  grid-column-start: 10;
}
.row .s11 {
  grid-column-end: span 11;
}
.row .offset-s11 {
  grid-column: span 11;
}
.row .start-s11 {
  grid-column-start: 11;
}
.row .s12 {
  grid-column-end: span 12;
}
.row .offset-s12 {
  grid-column: span 12;
}
.row .start-s12 {
  grid-column-start: 12;
}
@media (min-width: 601px) {
  .row .m1 {
    grid-column-end: span 1;
  }
  .row .offset-m1 {
    grid-column: span 1;
  }
  .row .start-m1 {
    grid-column-start: 1;
  }
  .row .m2 {
    grid-column-end: span 2;
  }
  .row .offset-m2 {
    grid-column: span 2;
  }
  .row .start-m2 {
    grid-column-start: 2;
  }
  .row .m3 {
    grid-column-end: span 3;
  }
  .row .offset-m3 {
    grid-column: span 3;
  }
  .row .start-m3 {
    grid-column-start: 3;
  }
  .row .m4 {
    grid-column-end: span 4;
  }
  .row .offset-m4 {
    grid-column: span 4;
  }
  .row .start-m4 {
    grid-column-start: 4;
  }
  .row .m5 {
    grid-column-end: span 5;
  }
  .row .offset-m5 {
    grid-column: span 5;
  }
  .row .start-m5 {
    grid-column-start: 5;
  }
  .row .m6 {
    grid-column-end: span 6;
  }
  .row .offset-m6 {
    grid-column: span 6;
  }
  .row .start-m6 {
    grid-column-start: 6;
  }
  .row .m7 {
    grid-column-end: span 7;
  }
  .row .offset-m7 {
    grid-column: span 7;
  }
  .row .start-m7 {
    grid-column-start: 7;
  }
  .row .m8 {
    grid-column-end: span 8;
  }
  .row .offset-m8 {
    grid-column: span 8;
  }
  .row .start-m8 {
    grid-column-start: 8;
  }
  .row .m9 {
    grid-column-end: span 9;
  }
  .row .offset-m9 {
    grid-column: span 9;
  }
  .row .start-m9 {
    grid-column-start: 9;
  }
  .row .m10 {
    grid-column-end: span 10;
  }
  .row .offset-m10 {
    grid-column: span 10;
  }
  .row .start-m10 {
    grid-column-start: 10;
  }
  .row .m11 {
    grid-column-end: span 11;
  }
  .row .offset-m11 {
    grid-column: span 11;
  }
  .row .start-m11 {
    grid-column-start: 11;
  }
  .row .m12 {
    grid-column-end: span 12;
  }
  .row .offset-m12 {
    grid-column: span 12;
  }
  .row .start-m12 {
    grid-column-start: 12;
  }
}
@media (min-width: 992px) {
  .row .l1 {
    grid-column-end: span 1;
  }
  .row .offset-l1 {
    grid-column: span 1;
  }
  .row .start-l1 {
    grid-column-start: 1;
  }
  .row .l2 {
    grid-column-end: span 2;
  }
  .row .offset-l2 {
    grid-column: span 2;
  }
  .row .start-l2 {
    grid-column-start: 2;
  }
  .row .l3 {
    grid-column-end: span 3;
  }
  .row .offset-l3 {
    grid-column: span 3;
  }
  .row .start-l3 {
    grid-column-start: 3;
  }
  .row .l4 {
    grid-column-end: span 4;
  }
  .row .offset-l4 {
    grid-column: span 4;
  }
  .row .start-l4 {
    grid-column-start: 4;
  }
  .row .l5 {
    grid-column-end: span 5;
  }
  .row .offset-l5 {
    grid-column: span 5;
  }
  .row .start-l5 {
    grid-column-start: 5;
  }
  .row .l6 {
    grid-column-end: span 6;
  }
  .row .offset-l6 {
    grid-column: span 6;
  }
  .row .start-l6 {
    grid-column-start: 6;
  }
  .row .l7 {
    grid-column-end: span 7;
  }
  .row .offset-l7 {
    grid-column: span 7;
  }
  .row .start-l7 {
    grid-column-start: 7;
  }
  .row .l8 {
    grid-column-end: span 8;
  }
  .row .offset-l8 {
    grid-column: span 8;
  }
  .row .start-l8 {
    grid-column-start: 8;
  }
  .row .l9 {
    grid-column-end: span 9;
  }
  .row .offset-l9 {
    grid-column: span 9;
  }
  .row .start-l9 {
    grid-column-start: 9;
  }
  .row .l10 {
    grid-column-end: span 10;
  }
  .row .offset-l10 {
    grid-column: span 10;
  }
  .row .start-l10 {
    grid-column-start: 10;
  }
  .row .l11 {
    grid-column-end: span 11;
  }
  .row .offset-l11 {
    grid-column: span 11;
  }
  .row .start-l11 {
    grid-column-start: 11;
  }
  .row .l12 {
    grid-column-end: span 12;
  }
  .row .offset-l12 {
    grid-column: span 12;
  }
  .row .start-l12 {
    grid-column-start: 12;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 5px;
}
.btn.color-blue {
  font-family: "Monospace";
  font-weight: bold;
  color: white;
  background-color: blue;
  border: 0 solid transparent;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
}
.btn.color-blue:hover {
  background-color: #8080ff;
  color: white;
  border-color: rgba(64, 64, 64, 0);
}
.btn.btn-outline.color-blue {
  font-family: "Monospace";
  font-weight: bold;
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
}
.btn.btn-outline.color-blue:hover {
  background-color: rgba(64, 64, 64, 0);
  color: #8080ff;
  border-color: #8080ff;
}
.btn.color-red {
  font-family: "Monospace";
  font-weight: bold;
  color: white;
  background-color: red;
  border: 0 solid transparent;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
}
.btn.color-red:hover {
  background-color: #ff8080;
  color: white;
  border-color: rgba(64, 64, 64, 0);
}
.btn.btn-outline.color-red {
  font-family: "Monospace";
  font-weight: bold;
  color: red;
  background-color: transparent;
  border: 1px solid red;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
}
.btn.btn-outline.color-red:hover {
  background-color: rgba(64, 64, 64, 0);
  color: #ff8080;
  border-color: #ff8080;
}
.btn.btn-small {
  line-height: 0.6rem;
  font-size: 0.6rem;
}
.btn.btn-large {
  line-height: 1.5rem;
  font-size: 1.5rem;
}
.btn.btn-medium {
  line-height: 1rem;
  font-size: 1rem;
}
