
@mixin grid() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin row($nmColumns: 12, $gutterSize: 1.6%){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $gutterSize;
}

@mixin col($size){
    grid-column-end: span $size;
}