//media queries
$mq-medium-and-up: 601px; 
$mq-large-and-up: 992px; 

//grid
$grid-columns-number: 12; //number of column in the grid
$grid-gutter-size: 1.6%; //gap between columns
$grid-rows-spacement: 1em; //gap between rows

//buttons
$btn-large: 1.5rem; //font size of large button
$btn-medium: 1rem; //font size of medium button
$btn-small: 0.6rem; //font size of small button