
@mixin row($nbColumns: 12, $gutterSize: 1.6%, $rowSpacement: 0){
    box-sizing: border-box;
    margin: 0;
    margin-top: $rowSpacement;
    padding: 0;
    display: grid;
    grid-template-columns: repeat($nbColumns, 1fr);
    column-gap: $gutterSize;
    row-gap: $rowSpacement;

    &:first-of-type {
        margin-top: 0;
    }
}

@mixin rowCollapse {
    row-gap: 0;
}

@mixin col($size: 1){
    grid-column-end: span $size;
}

@mixin offset($nbcolumn: 1) {
    grid-column: span $nbcolumn;
}

@mixin startOffset($position) {
    grid-column-start: $position;
}